* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}


header {
	height: 70px;
	background-color: #EC715F;
	width: 100%;
}
.container {
	width: 1024px;
	margin: 0 auto;
}
.logo {
	float: left;
	height: 70px;
}
.nav-list {
	float: right;
}
.nav-list-item {
	font-size: 16px;
	color: #fafafa;
	list-style: none;
	float: left;
	padding: 0 30px;
	line-height: 70px;
}
.main-visual {
	height: 650px;
	width: 100%;
	text-align: center;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}

.main-visual-title {
	padding-top: 200px;
	font-size: 64px;
	color: #fafafa;
}
.main-visual-text {
	padding-top: 10px;
	font-size: 20px;
	color: #fafafa;
}

.portfolio {
	width: 100%;
	background-color: #eceff1;
}

.portfolio-contents {
	width: 920px;
	padding: 90px 0;
	margin: 0 auto;
}

.section-title {
	font-size: 32px;
	color: #000000;
	text-align: center;
}

.section-title:after {
	content: '';
	display: block;
	height: 3px;
	width: 70px;
	margin: 8px auto 0 auto;
	background-color: #ec715f;
}

.section-text{
	padding: 30px 0;
	font-size: 16px;
	color: #000000;
	margin: 0 auto;
	text-align: center;
}

.img-box-group {
	margin: 0 auto;
}

.img-box:nth-child(1) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/sketch.jpg);
	background-size: cover;
	background-position: center;
}

.img-box:nth-child(2) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/websuku.png);
	background-size: cover;
	background-position: center;
}

.img-box:nth-child(3) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/write.jpg);
	background-size: cover;
	background-position: center;
}

.img-box:nth-child(4) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/webcamp.png);
	background-size: cover;
	background-position: center;
}

.img-box:nth-child(5) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/talk.jpg);
	background-size: cover;
	background-position: center;
}

.img-box:nth-child(6) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/webcamp-mother.png);
	background-size: cover;
	background-position: center;
}
.img-box:nth-child(1), .img-box:nth-child(2), .img-box:nth-child(4), .img-box:nth-child(5) {
	margin-right: 10px;
}

.img-box:nth-child(1), .img-box:nth-child(2), .img-box:nth-child(3) {
	margin-bottom: 10px;
}

.feature {
	width: 100%;
	background-color: #ffffff;
}

.feature-contents {
	width: 980px;
	padding: 90px 0;
	margin: 0 auto;
}

.strength {
	float: left;
	width: 320px;
	height: auto;
	text-align: center;
}

.strength:nth-child(1), .strength:nth-child(2) {
	margin-right: 10px;
}

.strength i {
	font-size: 60px;
	padding-bottom: 10px;
}

.strength-title {
	font-size: 20px;
	color: #000000;
	padding-bottom: 10px;
	text-align: center;
}

.strength-text {
	font-size: 16px;
	color: #000000;
	text-align: left;
}

.profile {
	width: 100%;
	background-color: #eceff1;
}

.profile-contents {
	width: 1024px;
	padding: 90px 0;
	margin: 0 auto;
}

.profile-box {
	display: inline-block;
}

.profile-image {
	width: 512px;
	float: left;
}

.profile-image-box {
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 50%;
	background-image: url(img/my-icon.jpg);
	background-size: cover;
	background-position: center;
}

.profile-detail {
	float: left;
	width: 512px;
	text-align: left;
}
.name {
	margin-bottom: 20px;
}

.detail-title {
	font-size: 20px;
	padding-bottom: 5px;
}

.detail-text {
	font-size: 16px;
	color: #000000;
}

.contact {
	width: 100%;
	background-color: #ffffff;
}

.contact-contents {
	width: 800px;
	padding: 90px 0;
	margin: 0 auto;
}

.contact-box {
	width: 800px;
	margin: 0 auto;
}

.contact-box-left {
	width: 400px;
	float: left;
}

.contact-contents-left {
	width: 130px;
	margin: 0 auto;
}

.contact-box-right {
	width: 400px;
	float: left;
}

.contact-contents-right {
	width: 170px;
	margin: 0 auto;
}

.contact-box-title {
	font-size: 20px;
	padding-bottom: 5px;
}

.contact-box-text {
	color: #212121;
}

.contact-contents-right i {
	font-size: 50px;
	margin-right: 20px;
}

.contact-contents-right i:last-child {
	margin-right: 0px;
}



footer {
	height: 60px;
	background-color: #ec715f;
}

.footer-text {
	font-size: 16px;
	color: #fafafa;
	text-align: center;
	line-height: 60px;
}