* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}


header {
	height: 70px;
	background-color: #EC715F;
	width: 100%;
}
.container {
	width: 1024px;
	margin: 0 auto;
}
.logo {
	float: left;
	height: 70px;
}
.nav-list {
	float: right;
}
.nav-list-item {
	font-size: 16px;
	color: #fafafa;
	list-style: none;
	float: left;
	padding: 0 30px;
	line-height: 70px;
}
.main-visual {
	height: 650px;
	width: 100%;
	text-align: center;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}

.main-visual-title {
	padding-top: 200px;
	font-size: 64px;
	color: #fafafa;
}
.main-visual-text {
	padding-top: 10px;
	font-size: 20px;
	color: #fafafa;
}

.portfolio {
	width: 100%;
	background-color: #eceff1;
}

.portfolio-contents {
	width: 920px;
	padding: 90px 0;
	margin: 0 auto;
	text-align: center;
}

.section-title {
	font-size: 32px;
	color: #000000;
}

.section-title:after {
	content: '';
	display: block;
	height: 3px;
	width: 70px;
	margin: 8px auto 0 auto;
	background-color: #ec715f;
}

.section-text{
	padding: 30px 0;
	font-size: 16px;
	color: #000000;
	margin: 0 auto;
}

.img-box-group {
	margin: 0 auto;
}

.img-box:nth-child(1) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/sketch.jpg);
	background-size: cover;
	background-position: center;
}

.img-box:nth-child(2) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/websuku.png);
	background-size: cover;
	background-position: center;
}

.img-box:nth-child(3) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/write.jpg);
	background-size: cover;
	background-position: center;
}

.img-box:nth-child(4) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/webcamp.png);
	background-size: cover;
	background-position: center;
}

.img-box:nth-child(5) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/talk.jpg);
	background-size: cover;
	background-position: center;
}

.img-box:nth-child(6) {
	float: left;
	width: 300px;
	height: 250px;
	background-image: url(img/webcamp-mother.png);
	background-size: cover;
	background-position: center;
}
.img-box:nth-child(1), .img-box:nth-child(2), .img-box:nth-child(4), .img-box:nth-child(5) {
	margin-right: 10px;
}

.img-box:nth-child(1), .img-box:nth-child(2), .img-box:nth-child(3) {
	margin-bottom: 10px;
}

.feature {
	width: 100%;
	background-color: #ffffff;
}

.feature-contents {
	width: 980px;
	padding: 90px 0;
	margin: 0 auto;
	text-align: center;
}

.strength {
	float: left;
	width: 320px;
	height: auto;
}

.strength:nth-child(1), .strength:nth-child(2) {
	margin-right: 10px;
}


footer {
	height: 60px;
	background-color: #ec715f;
}

.footer-text {
	font-size: 16px;
	color: #fafafa;
	text-align: center;
	line-height: 60px;
}